@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 60vh;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin: 20px 0 30px;
}

h2 {
  margin-bottom: 3px;
}

form {
  width: 30%;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;

  ul.form-list {
    padding-left: 0;
    list-style: none;

    li.form-list__row {
      position: relative;
      width: 100%;
      height: 50px;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        border: none;
        outline: none;
      }

      label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 2px solid #f0f0f0;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1px;
          height: 100%;
          width: 100%;
          border-bottom: 3px solid #5fa8d3;
          transform: translateX(-101%);
          transition: all 0.4s ease;
        }

        .content-name {
          position: absolute;
          bottom: 5px;
          left: 0;
          transition: all 0.4s ease;
          color: #939393;
        }
      }

      input:focus,
      input:valid,
      input:not(:placeholder-shown) {
        /*every time when we focus on input, we affection on label */
        + label .content-name {
          transform: translateY(-150%);
          font-size: 14px;
          color: #5fa8d3;
        }
      }

      input:focus {
        + label::after {
          transform: translateX(0);
        }
      }
    }

    li.form-list__row:last-child {
      overflow: visible;
      margin: 5px;
    }
  }
}

.button {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: #2763e6;
  padding: 12px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.1);
  }
}

@import "mobile";
